<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>UFarm- AO Dashboard</title>
		<link rel="stylesheet" type="text/css" href="dashboard.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="css/zmdi/css/material-design-iconic-font.min.css"
		/>
	</head>
	<body>
		<div class="container">
			<div class="title">DASHBOARD OVERVIEW</div>
			<div class="top-container">
				<div class="left-container"></div>
				<div class="right-container">
					<div class="summary-stats">
						<div class="stats" id="stats-newusers">
							<div id="newuser-icon" class="stat-icon">
								<span class="zmdi zmdi-accounts-add"></span>
							</div>
							<div class="stat-num">
								<div>New Farmers</div>
								<span id="total-newusers">1000</span>
							</div>
							<div class="stat-performance">
								<div class="arrow up-arrow"></div>
								<div
									class="arrow down-arrow display-none"
								></div>
							</div>
						</div>
						<div class="stats" id="stats-uploads">
							<div id="upload-icon" class="stat-icon">
								<span class="zmdi zmdi-cloud-upload"></span>
							</div>
							<div class="stat-num">
								<div>Monthly uploads</div>
								<span id="total-uploads">1000</span>
							</div>
							<div class="stat-performance">
								<div class="arrow up-arrow display-none"></div>
								<div class="arrow down-arrow"></div>
							</div>
						</div>
						<div class="stats" id="stats-orders">
							<div id="orders-icon" class="stat-icon">
								<span class="zmdi zmdi-collection-add"></span>
							</div>
							<div class="stat-num">
								<div>Monthly Orders</div>
								<span id="total-orders">1000</span>
							</div>
							<div class="stat-performance">
								<div class="arrow up-arrow"></div>
								<div
									class="arrow down-arrow display-none"
								></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-container">
				<div class="nav-container">
					<nav class="nav">
						<a href="#" class="link">
							<div class="nav-icon">
								<span class="zmdi zmdi-home margin30L"></span>
								<div class="icon-text">Home</div>
							</div>
						</a>
						<a href="#">
							<div class="nav-icon">
								<span class="zmdi zmdi-plus margin10L"></span>
								<div class="icon-text">Register</div>
							</div>
						</a>
						<a href="#">
							<div class="nav-icon">
								<span
									class="zmdi zmdi-storage margin30L"
								></span>
								<div class="icon-text">Records</div>
							</div>
						</a>
					</nav>
				</div>
			</div>
		</div>
	</body>
</html>
