doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1.0')
        title UFarm- URBAN DASHBOARD
        link(rel='stylesheet' type='text/css' href='/css/zmdi/css/material-design-iconic-font.min.css')
        link(rel='stylesheet' type='text/css' href='/css/dashboard.css')
        link(rel="stylesheet", href="/css/urban_upload.css")
    body
        .container
            .title URBAN FARMER DASHBOARD
            .top-container
                .left-container
                .right-container
                    .summary-stats
                        #stats-newusers.stats
                            #newuser-icon.stat-icon
                                span.zmdi.zmdi-accounts-add
                            .stat-num
                                div New Farmers
                                span#total-newusers 1000
                            .stat-performance
                                .arrow.up-arrow
                                .arrow.down-arrow.display-none
                        #stats-uploads.stats
                            #upload-icon.stat-icon
                                span.zmdi.zmdi-cloud-upload
                            .stat-num
                                div Monthly uploads
                                span#total-uploads 1000
                            .stat-performance
                                .arrow.up-arrow.display-none
                                .arrow.down-arrow
                        #stats-orders.stats
                            #orders-icon.stat-icon
                                span.zmdi.zmdi-collection-add
                            .stat-num
                                div Monthly Orders
                                span#total-orders 1000
                            .stat-performance
                                .arrow.up-arrow
                                .arrow.down-arrow.display-none
            .bottom-container
                .nav-container
                    nav.nav
                        a.link(href='#')
                            .nav-icon
                                span.zmdi.zmdi-home
                                .icon-text Home
                        a(href='#' class="addProduct")
                            .nav-icon
                                span.zmdi.zmdi-plus
                                .icon-text Add Product
                        a(href='#')
                            .nav-icon
                                span.zmdi.zmdi-storage
                                .icon-text Records
            .display.formdisplay.display-none
                div
                    .form-title Please fill this form to add product.
                    span.close-icon X
                form(method="POST"
                    name="upload"
                    enctype="multipart/form-data"
                    action="/uf/upload")
                    .input-group.display-none
                        input(type="text" name="name" placeholder="Name")
                    .input-group.display-none
                        input(type="text" name="ward" placeholder="Ward")
                    .input-inline
                        .input-group
                            select(name='category')
                                option(value='default' selected='' disabled='')
                                    | Category
                                option(value='Horticulture') Horticulture
                                option(value='Poultry') Poultry
                                option(value="Diary") Diary
                        .input-group
                            input.qty(type="text", name="quantity" placeholder="Quantity")                        
                    .input-inline
                        .input-group
                            .price
                                span.currency UGX
                                input(type="text" name="price" placeholder="Price per")
                        .input-group
                            input.uom(type="text" name="uom" placeholder="UOM")                                        
                    .input-group
                        fieldset
                            legend.text-muted Choose produce type.
                            .grid.type
                                div
                                    input(type="radio", value="organic" name="type")
                                    | Organic
                                div
                                    input(type="radio" name="type" value="none")
                                    | None Organic
                    .input-group
                        fieldset
                            legend.text-muted Mode of Payment
                            .grid.payment
                                div
                                    input(type="checkbox" name="payment" value="mobile")
                                    | Mobile Money
                                div
                                    input(type="checkbox" name="payment" value="cash")
                                    | Cash
                    .input-group
                        fieldset
                            legend.text-muted Mode of Delivery
                            .grid.delivery
                                div
                                    input(type="checkbox" name="payment" value="pickup")
                                    | Pickup
                                div
                                    input(type="checkbox" name="payment" value="delivery")
                                    | Delivery
                    .input-group
                        input(type="text" name="location" placeholder="Location")
                    .input-group
                        fieldset
                            legend.text-muted Upload image
                            input(type="file" name="image")
                    .section
                        div(class="submit-container")
                            input.submit(type="button" value="Add Product")
        script(type='text/javascript' src='/js/validate_helpers.js')
        script(type='text/javascript' src='/js/validate_product.js')
