* {
  font-family: "Roboto";
  box-sizing: border-box;
}

@font-face {
  src: url("Roboto-Regular.ttf");
  font-family: "Roboto";
}
.container {
  position: relative;
  width: 960px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 20px;
  box-shadow: 2px 2px 10px rgb(150, 150, 150);
}
@media (max-width: 960px) {
  .container {
    width: 100%;
  }
}
.center-align {
  text-align: center;
}
.display-none {
  display: none;
}

/*Styles for the popup that displays individual information in full.  */
.display {
  z-index: 1;
  position: absolute;
  left: 200px;
  top: 40px;
  background-color: white;
  height: 500px;
  width: 50%;
  box-shadow: 2px 2px 10px rgb(150, 150, 150);
}

.farmer-details {
  padding-top: 5px;
  padding-left: 50px;
  padding-bottom: 5px;
  width: 100%;
}
.title {
  margin-bottom: 20px;
  font-size: 130%;
  color: rgb(150, 150, 150);
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.close-icon:hover,
.close-icon:focus {
  background-color: red;
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}
.colhead {
  margin-right: 10px;
  background-color: rgb(100, 100, 100);
  width: 30%;
  padding-left: 10px;
  color: white;
}
.coldata {
  word-wrap: break-word;
  max-width: 60%;
}
.row {
  margin-top: 10px;
  height: 25px;
}
