*{
	box-sizing: border-box;
	font-family: "Roboto";
}
@font-face{
	src:url("Roboto-Regular.ttf");
	font-family: "Roboto";
}
a{
	display: inline-block;
	margin: 5px auto;
}
.font-grey{
	color: rgb(140,140,140);
}
/*
	Styling containers
*/
.container{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.side-bar-container{
	width: 20%;
}
.product-label{
	width: 100%;
	color:rgb(120,120,120);
	text-align: center;
	height: 30px;
	padding-top: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.side-bar-element{
	margin-top: 20px;
	border-bottom: 1px solid rgb(200,200,200);
}
.active{
	background-color: rgb(230,230,230);
	color: rgb(11,188,73);
}
.product-information{
	display: flex;
	flex-direction: row;
}